<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> EXCITING OPPORTUNITIES</h1>

    <h2>Referral/ Vacancies Open</h2>

    <h3>
              For Java Developer:
        Skills: Java, C#, Selenium
        Experience : 3 to 5 years
        Notice period :  20 - 30 days
    </h3>

    <h4>
              For Automation Tester
        Skills: Selenium, Java, JavaScript
        Experience : 5 to 10 years
        Notice period :  15 - 20 days
    
    </h4>
</body>
</html>